# Basic python questions day-1

In [1]:
num1 = 5
num2 = 3
sum = num1 + num2
print("The sum is:", sum)

The sum is: 8

# Basic python questions day-2

In [2]:
string = "hello"
reversed_string = string[::-1]
print(reversed_string)

olleh

# Basic python questions day-3

In [3]:
num1 = 10
num2 = 20
num3 = 15
max_num = max(num1,num2,num3)
print("The maximum number is:",max_num)

The maximum number is: 20

# Basic python questions day-4

In [4]:
base = 5
height = 8
area = 0.5 * base * height
print(area)

20.0

# Basic python questions day-5

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
num = 5
print("Factorial of", num, "is", factorial(num))

Factorial of 5 is 120

# Basic python questions day-6

In [6]:
num1 = "5"
num2 = "3"
sum = num1 + num2
print(sum)

53

# Basic python questions day-7

In [7]:
def count_occurances(string,char):
    count = 0
    for c in string:
        if c == char:
            count += 1
    return count

my_string = "hello"
char_to_count = 'l'
print(count_occurances(my_string,char_to_count))

2

# Basic python questions day-8

In [8]:
def is_vowel(char):
    vowels = "aeiou"
    return char.lower() in vowels

character = 'A'
if is_vowel(character):
    print(character, "is a vowel")
else:
    print(character, "is not a vowel")

A is a vowel

# Basic python questions day-9

In [9]:
string = "Hello"
num = 123
result = string + str(num)
print(result)

Hello123

# Basic python questions day-10

In [10]:
def square(n):
    return n * n

num = 4
print("Square of number is: ", square(num))

Square of number is:  16

# Basic python questions day-11

In [11]:
list1 = [1,2,3]
list2 = [4,5,6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

# Basic python questions day-12

In [12]:
character = "*"
repetitions = 5
repeated_character = character * repetitions
print(repeated_character)

*****

# Basic python questions day-13

In [13]:
string = "The number is: "
number = 42
result = string + str(number)
print(result)

The number is: 42

# Basic python questions day-14

In [14]:
def getMax(n1, n2):
    if(n1>n2):
        return n2
    else:
        return n1

print(getMax(5,7))

5

# Basic python questions day-15

In [15]:
a = 6
b = 1
c = a+b
print(c)

7

# Basic python questions day-16

In [16]:
original_list = [1,2,3]
repeated_list = [i * 3 for i in original_list]
print(repeated_list)

[3, 6, 9]

# Basic python questions day-17

In [17]:
my_dict = {"name":"Mani",
           "age":24,
           "city":"Hyderabad"}
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

# Basic python questions day-18

In [18]:
a = ("mani"[1+1])
print(a)

n

# Basic python questions day-19

In [19]:
a = 2
b = 20
b *= a * b + 10
print(b)

1000

# Basic python questions day-20

In [20]:
a = 01 #2#3
print(a)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4236437344.py, line 1)

# Basic python questions day-21

In [ ]:
a,b = '06'
b,c = '26'
print(a+b+c)

026

# Basic python questions day-22

In [30]:
a = [1,2,3,4,5,6],
print(a[7:])

()

# Basic python questions day-23

In [ ]:
a = [1,2,[3,4],["mani"]]
print(a[3][0])

mani

# Basic python questions day-24

In [ ]:
_26 = {2,6}
print(_26 * 26)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

# Basic python questions day-25

In [ ]:
a = 3 ** 2 ** 3
print(a)

6561

# Basic python questions day-26

In [ ]:
a = 0
while a < 26 :
  a = a + 3
print(a)

27

# Basic python questions day-27

In [ ]:
x = 5
y = 2
  c = x // y
print(c)

IndentationError: unexpected indent (1769049190.py, line 3)

# Basic python questions day-28

In [ ]:
a = [1,2,3,4]
a.append([4,5])
print(len(a))

5

# Basic python questions day-29

In [ ]:
a = [6,1,2000,26,4]
b = [60,62, 10, 40]
print(a>b)

False

# Basic python questions day-30

In [ ]:
my_list = [1,2]
my_list.extend([4,5])
print(my_list)

[1, 2, 4, 5]

# Basic python questions day-31

In [ ]:
a = {1,1,1,1,2,2,6,6,6,6}
b = list(a)
print(b[2])

6

# Basic python questions day-32

In [ ]:
a = '26_26'
b = 'mani'
print(float(a))
print(int(b))
print(str(b))

2626.0

ValueError: invalid literal for int() with base 10: 'mani'

# Basic python questions day-33

In [ ]:
a = 26
b = 26
print(a is b)

True

In [ ]:
x = '16'
y = 16
print(x is y)

False

In [ ]:
a,b = '16'
b,c = '26'
print(a+b+c)

126

# Basic python questions day-34

In [26]:
a = 6
def add():
    a = 26
    a = a+4
    print(a)
a = 36
print(a)

36

In [2]:
a = "Python"
b = len(a)
c = 0

for i in range(1, b+1):
    c = c * i
print (c)

0